<div class="sidebar">

  <a href="/" title="The homepage of {{title}}" class="logo {{#profile_image.thumbnails.square.url}}hasAvatar{{/profile_image.thumbnails.square.url}}{{^profile_image.thumbnails.square.url}}{{#avatar}}hasAvatar{{/avatar}}{{/profile_image.thumbnails.square.url}}">
    {{#profile_image.thumbnails.square}}
    <img width="42" height="42" src="{{{url}}}" class="avatar round">
    {{/profile_image.thumbnails.square}}
    {{^profile_image.thumbnails.square.url}}
    {{#avatar}}
    <img width="42" height="42" src="{{{avatar}}}" class="avatar {{#roundAvatar}}round{{/roundAvatar}}">
    {{/avatar}}
    {{/profile_image.thumbnails.square.url}}
    <span class="site-title">{{title}}</span>
  </a>

  {{#menu}}
  <a href="{{{url}}}" class="light" title="{{label}}">{{label}}</a>
  {{/menu}}

</div>
