{{> head}}
<div class="site-header">
    <div style="width:50%;" class="main">
        <a href="/" class="site-title">{{#profile_image.thumbnails.square}}<img width="{{width}}" height="{{height}}" src="{{{url}}}" alt="" class="site-logo">{{/profile_image.thumbnails.square}}{{title}}</a>
     </div>
    <div style="width:50%;" class="main">
        {{> navigation}}
     </div>
</div>
    <div class="main">
         <div class="fade-in entry">
            <br>
            {{#posts}}
            {{^hide_dates}}
            {{#date}}<center><small>{{#formatDate}}{{date_display}}{{/formatDate}}</small></center>{{/date}}
            {{/hide_dates}}
            <div class="announcement">
                {{{html}}}
            </div>
            {{/posts}}
         </div>
     </div>


{{> footer}}