{{#show_date_options}}
<form
    id="dateSettings"
    method="post"
>


    <input type="hidden" name="_csrf" value="{{csrftoken}}" />
    
    {{#displayFormats.length}}
    <div id="date_display_container">
        <label for="date_display" style="flex-shrink: 0;">Dates:</label>
        <select id="date_display" name="locals.date_display" data-hide-dates-value="{{hide_dates_value}}">
            {{#displayFormats}}
            <option value="{{value}}" {{selected}}>{{date}}</option>
            {{/displayFormats}}
        </select>
    </div>
    {{/displayFormats.length}}

</form>
{{/show_date_options}}
