<div class="inputs">

{{#colorPresets.hasPresets}}
<details class="settings-group" data-preset-group="colors" open>
<summary class="template-heading">Colors</summary>
{{#colorPresets}}
{{> preset-colors}}
{{/colorPresets}}
<div class="preset-controls">
{{#colors}}
{{> color}}
{{/colors}}
</div>
</details>
{{/colorPresets.hasPresets}}
	{{^colorPresets.hasPresets}}
	{{#colors.length}}
	<div class="settings-group">
	<h2 class="template-heading">Colors</h2>
	{{#colors}} 
	{{> color}} 
	{{/colors}}
	</div>
	{{/colors.length}}
	{{/colorPresets.hasPresets}}

{{#fontPresets.hasPresets}}
<details class="settings-group" data-preset-group="fonts" open>
<summary class="template-heading">{{#singleFontInput}}Font{{/singleFontInput}}{{^singleFontInput}}Fonts{{/singleFontInput}}</summary>
{{#fontPresets}}
{{> preset-fonts}}
{{/fontPresets}}
<div class="preset-controls">
{{#fonts}}
{{> font}}
{{/fonts}}
</div>
</details>
{{/fontPresets.hasPresets}}
	{{^fontPresets.hasPresets}}
	{{#fonts.length}}
	<div class="settings-group">
	<h2 class="template-heading">{{#singleFontInput}}Font{{/singleFontInput}}{{^singleFontInput}}Fonts{{/singleFontInput}}</h2>
        {{#fonts}}
        {{> font}}
        {{/fonts}}
	</div>
        {{/fonts.length}}
	{{/fontPresets.hasPresets}}

        {{#uploads.length}}
        <div class="settings-group">
        <h2 class="template-heading">Uploads</h2>
        {{#uploads}}
        {{> upload}}
        {{/uploads}}
        </div>
	{{/uploads.length}}

	{{#other_images.length}}
	<div class="template-editor-group">
	{{#other_images}}
		{{> image}}
	{{/other_images}}
	</div>
	{{/other_images.length}}

	<div class="settings-group">
		<h2 class="template-heading">Photo</h2>
		{{#profile_image_control}}
		<a class="line" href="{{{base}}}/images/{{key}}" style="padding:11px 14px;border-bottom:1px solid var(--light-border-color);{{^favicon_supported}}border-bottom:none;{{/favicon_supported}}">
		{{#value}}<span style="width:40px;height:40px;border:1px solid transparent;display:inline-flex;align-items:center;justify-content:center;vertical-align:middle;margin-right:.5rem;flex:0 0 40px"><img src="{{{thumbnails.small.url}}}" style="max-width:40px;max-height:40px;object-fit:contain" alt="" /></span><span class="link">Edit photo</span>{{/value}}
		{{^value}}<span class="center" style="border:1px dashed var(--dark-border-color);width:40px;height:40px;display:inline-block;vertical-align:middle;margin-right:.5rem"></span><span class="link">Choose a photo</span>{{/value}}
		</a>
		{{/profile_image_control}}
		{{^profile_image_control}}
		<a class="line" href="{{{base}}}/photo" style="padding:11px 14px;border-bottom:1px solid var(--light-border-color);{{^favicon_supported}}border-bottom:none;{{/favicon_supported}}">
		{{^blog.avatar}}
		<span class="center" style="border: 1px dashed var(--dark-border-color);width: 40px;height:40px;display:inline-block; vertical-align: middle;margin-right: 0.5rem;border-radius: var(--border-radius);">
		</span>
		<span class="link">Choose a photo</span>
		{{/blog.avatar}}

		{{#blog.avatar}}
		<span class="center" style="width: 48px;height:48px;display:inline-block; vertical-align: middle;">
			<img style="max-width:48px;max-height:48px;vertical-align: baseline; display: inline;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
		</span>
		<span class="link">Edit photo</span>
			{{/blog.avatar}}
		</a>
		{{/profile_image_control}}
		{{#favicon_supported}}
		<a class="line" href="{{{base}}}/favicon" style="padding:7px 14px;border-bottom:none;">
			<span class="center" style="width:16px;height:16px;display:inline-flex;align-items:center;justify-content:center;vertical-align:middle;margin-left:26px;margin-right:0.5rem;">
				{{#favicon}}<img width="16" height="16" style="width:16px;height:16px;image-rendering:pixelated;" src="{{{png16}}}" alt="Favicon preview" />{{/favicon}}
				{{^favicon}}<span aria-hidden="true" style="box-sizing:border-box;border:1px dashed var(--dark-border-color);width:16px;height:16px;display:block;"></span>{{/favicon}}
			</span>
			<span class="link">{{#favicon}}Edit favicon{{/favicon}}{{^favicon}}Choose a favicon{{/favicon}}</span>
		</a>
		{{/favicon_supported}}
	</div>

        <div class="settings-group">
                <h2 class="template-heading">Navigation</h2>
                <a class="line links" href="{{{base}}}/links">
                        <span class="center">
                                {{#blog.menu}}
				<span class="tablet">{{label}}</span>
				{{/blog.menu}}

				{{^blog.menu.length}}
				<i>Your menu is empty</i>
				{{/blog.menu.length}}
				<span class="link">Edit links</span>
			</span>
			</a>
{{#navigation}}
	{{> template-editor-group}}
	{{/navigation}}
	</div>







	{{#index_page.length}}
	<div class="settings-group">
		<h2 class="template-heading">Index</h2>
	{{#index_page}}
	{{> template-editor-group}}
	{{/index_page}}
	</div>
	{{/index_page.length}}

	{{#post_sorting}}
	<div class="settings-group">
	<h2 class="template-heading">Posts</h2>
	{{> template-editor-group}}
	{{> date}}
	{{#post_adjacent_posts}}
	{{> boolean}}
	{{/post_adjacent_posts}}

{{#syntax_themes}}
	<a class="line syntax-highlighter-summary" href="{{{base}}}/syntax-highlighter">
		<span class="syntax-highlighter-summary__label">Syntax highlighting:</span>
		<span class="syntax-highlighter-summary__theme">{{#value}}{{#name}}{{name}}{{/name}}{{^name}}Select a color scheme{{/name}}{{/value}}</span>
	</a>
	{{/syntax_themes}}
	</div>
	{{/post_sorting}}
</div>

	<div class="settings-group template-docs-support-links-group">
		{{> template-docs-support-links}}
	</div>
