<div class="inputs">

	{{#colors.length}}
	<div class="settings-group">
	<h2 class="template-heading">Colors</h2>
	{{#colors}} 
	{{> color}} 
	{{/colors}}
	</div>
	{{/colors.length}}

	{{#fonts.length}} 	
        {{#fonts}}
        {{> font}}
        {{/fonts}}
        {{/fonts.length}}

        {{#uploads.length}}
        <div class="settings-group">
        <h2 class="template-heading">Uploads</h2>
        {{#uploads}}
        {{> upload}}
        {{/uploads}}
        </div>
	{{/uploads.length}}

	{{#images.length}}
	<div class="template-editor-group">
	{{#images}}
		{{> image}}
	{{/images}}
	</div>
	{{/images.length}}

        <div class="settings-group">
                <h2 class="template-heading">Menu</h2>
                <a class="line links" href="{{{base}}}/links">
                        <span class="center">
                                {{#blog.menu}}
				<span class="tablet">{{label}}</span>
				{{/blog.menu}}
				
				{{^blog.menu.length}}
				<i>Your menu is empty</i>
				{{/blog.menu.length}}
				<span class="link" >Edit</span>
			</span>
			</a>
{{#navigation}}
	{{> template-editor-group}}
	{{/navigation}}			
	</div>	

	<div class="settings-group">
		<h2 class="template-heading">Photo</h2>
		<a class="line" href="{{{base}}}/photo" style="padding:11px 14px;{{^favicon_supported}}border-bottom:none;{{/favicon_supported}}">
		{{^blog.avatar}}
		<span class="center" style="border: 1px dashed var(--border-color);width: 48px;height:48px;display:inline-block; vertical-align: middle;margin-right: 0.5rem;border-radius: var(--border-radius);">
		</span>
		<span class="link">Choose a photo</span>
		{{/blog.avatar}}
		
		{{#blog.avatar}}
		<span class="center" style="width: 48px;height:48px;display:inline-block; vertical-align: middle;">
			<img style="max-width:48px;max-height:48px;vertical-align: baseline; display: inline;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
		</span>
		<span class="link">Edit photo</span>
			{{/blog.avatar}}
		</a>
		{{#favicon_supported}}
		<a class="line" href="{{{base}}}/favicon" style="padding:7px 14px;border-bottom:none;">
			<span class="center" style="width:16px;height:16px;display:inline-flex;align-items:center;justify-content:center;vertical-align:middle;margin-right:0.5rem;">
				{{#favicon}}<img width="16" height="16" style="width:16px;height:16px;image-rendering:pixelated;" src="{{{png16}}}" alt="Favicon preview" />{{/favicon}}
				{{^favicon}}<span aria-hidden="true" style="box-sizing:border-box;border:1px dashed var(--border-color);width:16px;height:16px;display:block;border-radius:2px;"></span>{{/favicon}}
			</span>
			<span class="link">{{#favicon}}Edit favicon{{/favicon}}{{^favicon}}Choose a favicon{{/favicon}}</span>
		</a>
		{{/favicon_supported}}
	</div>





	{{#index_page.length}}
	<div class="settings-group">
	<h2 class="template-heading">Index page</h2>
	{{#index_page}}
	{{> template-editor-group}}
	{{/index_page}}
	</div>
	{{/index_page.length}}

	{{#post_sorting}}
	<div class="settings-group">
	<h2 class="template-heading">Post sorting</h2>
	{{> template-editor-group}}
	<p class="template-heading-note">Applies to the index page, tag pages, search results and feeds.</p>
	</div>
	{{/post_sorting}}

	{{> date}}

{{#syntax_themes}}
        <div class="settings-group">
                <h2 class="template-heading">Syntax highlighter</h2>
                <a class="line" href="{{{base}}}/syntax-highlighter" style="padding: 11px 20px;border-bottom: none;">
                        <span class="center">Open syntax controls</span>
                        <span class="right">Edit</span>
                </a>
        </div>
        {{/syntax_themes}}
</div>

	<div class="settings-group template-docs-support-links-group">
		{{> template-docs-support-links}}
	</div>
