<div
  class="template-row row-action-menu-row {{#selected}}selected{{/selected}}"
  data-template-slug="{{slug}}"
  data-template-name="{{#localEditing}}{{slug}}{{/localEditing}}{{^localEditing}}{{name}}{{/localEditing}}"
  data-is-mine="{{#isMine}}true{{/isMine}}{{^isMine}}false{{/isMine}}"
  data-is-mirror="{{#isMirror}}true{{/isMirror}}{{^isMirror}}false{{/isMirror}}"
>
  <a href="{{{editURL}}}" class="template-row__link">
    {{#localEditing}}
    <span class="template-row__folder-icon" aria-hidden="true">
      <span class="icon-folder"></span>
    </span>
    {{/localEditing}}

    <span
      class="template-row__name"
      >{{^localEditing}}{{name}}{{/localEditing}}{{#localEditing}}{{slug}}{{/localEditing}}</span
    >
    {{#checked}}
    <span
      class="template-row__installed"
      style="
        color: var(--success-text-color);
        background-color: var(--success-background-color);
        font-size: 10px;
        font-weight: bold;
        border-radius: var(--border-radius);
        padding: 2px 4px;
        margin-left: 6px;
      "
      >Installed</span
    >
    {{/checked}}
  </a>
  <button
    class="template-row__menu-trigger row-action-menu__trigger"
    type="button"
    data-editurl="{{{editURL}}}"
    data-previewurl="{{{previewMenuURL}}}"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <span class="icon-dots"></span>
  </button>
</div>
