<div class="site-title">
  <a href="/" title="Index of {{title}}" class="light index-link">
    {{#profile_image.thumbnails.square}}
    <span style="display:inline-block;width:1.25em;height:1.25em;margin-right:0.5em;flex-shrink:0;background: url({{{url}}}) no-repeat center center;background-size: cover;"></span>
    {{/profile_image.thumbnails.square}}
    {{^profile_image.thumbnails.square.url}}
    {{#avatar}}
    <span style="display:inline-block;width:1.25em;height:1.25em;margin-right:0.5em;flex-shrink:0;background: url({{{avatar_url}}}) no-repeat center center;background-size: cover;"></span>
    {{/avatar}}
    {{/profile_image.thumbnails.square.url}}
    {{title}}
  </a>
</div>
