

<div class="inset">

<div class="error warning-banner">
  <p><strong>Google Drive sync is not working</strong></p>
  <p>Our API access was suspended. We've submitted an appeal and are working on re-establishing syncing using a new method. We'll provide a new username to share the folder with soon.</p>
</div>

<p>Enter the email for your Google Drive account to link your folder.</p>

  <form class="dashboard-form" action="{{{base}}}/set-up-folder" method="post">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <label for="email">Google Drive account:</label>
    <input type="text" name="email" value="{{suggestedEmail}}">
    <div class="buttons">
      <button type="submit">Add email</button>
      {{^blog.client}}<a href="{{{dashboardBase}}}/client">Cancel</a>{{/blog.client}}
      {{#blog.client}}<button type="submit" name="cancel" value="true">Cancel</button>{{/blog.client}}
    </div>
  </form>

</div>
