<div id="header">

  <nav class="nav">
    {{#menu}}
    <a href="{{{url}}}" title="{{label}}">{{label}}</a>
    {{/menu}}
  </nav>

  <a id="title" href="/" title="The homepage of {{title}}">{{#profile_image.thumbnails.square}}<img width="{{width}}" height="{{height}}" class="avatar" src="{{{url}}}" alt="">{{/profile_image.thumbnails.square}}{{^profile_image.thumbnails.square.url}}{{#avatar}}<img class="avatar" src="{{{avatar}}}" alt="">{{/avatar}}{{/profile_image.thumbnails.square.url}}{{title}}</a>

</div>
